<div class="container-fluid">
    <div class="row">
<div class="col-md-12">
    <h2 style="text-align: center;">
        Welcome to employee management system
    </h2>
    <h5 style="text-align: center;">
        EMP Managers
      </h5>
      <hr>
      <h6 style="text-align: center;">
        Click : Register Employee to add new employee
        <br>
        Click : All Employees to see all employees
      </h6>
      
        <img src="../../../assets/images/employee-management.jpg" alt="img" 
        style=" display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;">
        <br>
</div>

    </div>
    </div>