<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <button class="btn btn-primary" routerLink=""><b>EMP Managers</b></button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/create" routerLinkActive="active">Register Employee</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/showemployees" routerLinkActive="active">All Employees</button>
      </li>
      
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/aboutus" routerLinkActive="active">About Us</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/contactus" routerLinkActive="active">Contact Us</button>
      </li>      
    </ul>
  </div>  
</nav>