
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Please Click on Register Employee to register an employee : 
            </h4>               
<button type="button" class="btn btn-primary" (click)="openModal(template)">Register Employee</button>
 
                <hr>
                <p>
                Required Details are : 
                <br>
                Name
                <br>
                Employee ID
                <br>
                Department
                <br>
                Date of Joining
                <br>
                Email ID
                
                </p>
                <hr>
</div>
</div>
 </div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Register</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="card m-3">
        <div class="card-header">
            <img src="../../../assets/images/emp1.png" class="avatar">
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    
                    <div class="form-group col">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                            <div *ngIf="f.name.errors.pattern">Name can only contain alphabets</div>         
                        </div>
                    </div>
                </div>
                
                <div class="form-group col">
                    <label>Department</label>
                    <select formControlName="department" autofocus class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                        <option value=""></option>
                        <option value="Business Services">Business Services</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Data Services">Data Services</option>
                        <option value="Economics">Economics</option>
                        <option value="Materials">Materials</option>
                    </select>
                    <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                        <div *ngIf="f.department.errors.required">Department is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Employee ID</label>
                    <input type="text" formControlName="employeeid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeid.errors }" />
                    <div *ngIf="submitted && f.employeeid.errors" class="invalid-feedback">
                        <div *ngIf="f.employeeid.errors.required">Employee ID is required</div>
                        <div *ngIf="f.employeeid.errors.minlength">Employee ID must be at least 6 characters</div>
                        <div *ngIf="f.employeeid.errors.pattern">Employee ID can only contain [0-9] numbers</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Date of Joining</label>
                    <input class="form-control"
                            placeholder="Date of Joining"
                            formControlName="doj"
                            bsDatepicker
                            [ngClass]="{ 'is-invalid': submitted && f.doj.errors }"
                            [minDate]="minDate"
                            [bsConfig]="{ adaptivePosition: true }">
                    <div *ngIf="submitted && f.doj.errors" class="invalid-feedback">
                        <div *ngIf="f.doj.errors.required">Date of Joining is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
    
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset" (click)="modalRef.hide()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</ng-template>